In [1]:
import pandas as pd
import numpy as np

In [9]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0,10,4))
ser

0    6
1    3
2    7
3    4
dtype: int32

In [11]:
df = pd.DataFrame(rng.randint(0,10, (3,4)),
                 columns=['A','B', 'C', 'D'])
df

   A  B  C  D
0  1  7  5  1
1  4  0  9  5
2  8  0  9  2

In [15]:
np.exp(ser)

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64

In [16]:
np.sin(df* np.pi / 4)

              A         B         C         D
0  7.071068e-01 -0.707107 -0.707107  0.707107
1  1.224647e-16  0.000000  0.707107 -0.707107
2 -2.449294e-16  0.000000  0.707107  1.000000

In [18]:
area = pd.Series({'Alaska': 1743892, 'Texas': 484234,
                 'California': 324923}, name='area')
population = pd.Series({'New York': 444, 'Texas': 1344,
                 'California': 44444}, name='population')

In [25]:
(population / area).index

Index(['Alaska', 'California', 'New York', 'Texas'], dtype='object')

In [27]:
 population.index | area.index

Index(['Alaska', 'California', 'New York', 'Texas'], dtype='object')

In [29]:
A = pd.Series([2,4,6], index = [0,1,2])
B = pd.Series([1,3,5], index = [1,2,3])
A+B

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

In [31]:
A.add(B, fill_value=0)

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

In [35]:
A = pd.DataFrame(rng.randint(0,20,(2,2)),
                columns=list('AB'))
A

    A   B
0  11  19
1   2   4

In [38]:
B = pd.DataFrame(rng.randint(0,20,(3,3)),
                columns=list('ABC'))
B

    A  B   C
0  16  3  17
1   7  3   1
2   5  9   3

In [40]:
A+B

      A     B   C
0  27.0  22.0 NaN
1   9.0   7.0 NaN
2   NaN   NaN NaN

In [48]:
A.add(B, fill_value=0)

      A     B     C
0  27.0  22.0  17.0
1   9.0   7.0   1.0
2   5.0   9.0   3.0

19