In [5]:
import pandas as pd
import numpy as np

In [7]:
###Pandas Series

In [31]:
data = pd.Series([0.25,0.5,0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [32]:
print(type(data.values), type(data)) # Очень легко и естественно можно получить Numpy массив

<class 'numpy.ndarray'> <class 'pandas.core.series.Series'>

In [33]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [42]:
data = pd.Series([0.25,0.5,0.75, 1.0], index=['a','b','c','d'])
print(data['a'])
data

0.25

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [82]:
area_dict = {'California': 4967, 'Texas': 2325, 'New York': 839284,
            'Florida': 32093, 'Illinois':3002}
area = pd.Series(area_dict)
area

California      432967
Texas         23239025
New York        839284
Florida          32093
Illinois        300239
dtype: int64

In [84]:
population_dict = {'California': 5443144, 'Texas': 1343414, 'New York': 1234213424,
            'Florida': 1234243, 'Illinois':1234214}
population = pd.Series(population_dict)
population

California       5443144
Texas            1343414
New York      1234213424
Florida          1234243
Illinois         1234214
dtype: int64

In [105]:
states = pd.DataFrame({ 'area': area, 'population':population})
states

                area  population
California    432967     5443144
Texas       23239025     1343414
New York      839284  1234213424
Florida        32093     1234243
Illinois      300239     1234214

In [117]:
print(states.index,'\n',states.columns)

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')
 Index(['area', 'population'], dtype='object')

In [118]:
### As specialized dictionary

In [149]:
print(states['area'],'\n', states.area) # можно и так и так сделать. Разницы никакой нет

California      432967
Texas         23239025
New York        839284
Florida          32093
Illinois        300239
Name: area, dtype: int64
 California      432967
Texas         23239025
New York        839284
Florida          32093
Illinois        300239
Name: area, dtype: int64

In [145]:
# получить все возможные данные
type(states[:].values)
states['area']

California      432967
Texas         23239025
New York        839284
Florida          32093
Illinois        300239
Name: area, dtype: int64

In [147]:
### Creating DataFrame

In [152]:
pd.DataFrame(population, columns = ['population'])
pd.DataFrame({'population':population}) 
#Это одно и тоже.

            population
California     5443144
Texas          1343414
New York    1234213424
Florida        1234243
Illinois       1234214

In [164]:
data = [{'число': i, 'квадрат': i**2}
       for i in range(10)] #массив словарей
pd.DataFrame(data)

   квадрат  число
0        0      0
1        1      1
2        4      2
3        9      3
4       16      4
5       25      5
6       36      6
7       49      7
8       64      8
9       81      9

In [166]:
#Дополняет 
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [187]:
#from a tw0-dimensial  numpy
pd.DataFrame(np.random.rand(3,2), 
            columns=['foo', 'bar'],
            index= ['a','b', 'c'])

        foo       bar
a  0.054915  0.255716
b  0.534340  0.112801
c  0.835653  0.837590