In [1]:
import numpy as np
import pandas as pd

In [3]:
def make_df(cols,ind):
    data = {c: [str(c) + str(i) for i in ind]
           for c in cols}
    return pd.DataFrame(data, ind)
make_df('ABC', range(3))

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

In [15]:
x = [1,2,3]
y = [4,5,6]
z = [7,8,9]
print(np.concatenate([[x,y,z]]).shape)
np.concatenate([x,y,z]).shape

(3, 3)

(9,)

In [23]:
x = [[1,2],
    [3,4]]
np.concatenate([x,x], axis=1)

array([[1, 2, 1, 2],
       [3, 4, 3, 4]])

In [30]:
ser1 = pd.Series(list("ABC"), index = [1,2,3])
ser2 = pd.Series(list("DEF"), index = [4,5,6])
pd.concat([ser1,ser2])

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [41]:
df1 = make_df('AB', [1,2])
df2 = make_df('AB', [3,4])
print(df1); print(df2); print(pd.concat([df1,df2], axis=0))

    A   B
1  A1  B1
2  A2  B2
    A   B
3  A3  B3
4  A4  B4
    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [46]:
x = make_df('AB', [0,1])
y = make_df('AB', [2,3])
y.index = x.index
print(x); print(y); print(pd.concat([x,y]))

    A   B
0  A0  B0
1  A1  B1
    A   B
0  A2  B2
1  A3  B3
    A   B
0  A0  B0
1  A1  B1
0  A2  B2
1  A3  B3

In [50]:
#Намного лучше, так как не будет повторений в индексах
print(pd.concat([x,y], keys = ['x','y']))

      A   B
x 0  A0  B0
  1  A1  B1
y 0  A2  B2
  1  A3  B3

In [58]:
print(df1); print(df2); print(df1.append(df2)) #создает новый объект, поэтому это не очень круто

    A   B
1  A1  B1
2  A2  B2
    A   B
1  A3  B3
2  A4  B4
    A   B
1  A1  B1
2  A2  B2
1  A3  B3
2  A4  B4