In [1]:
import pandas as pd
import numpy as np

In [4]:
np.allclose
rng = np.random.RandomState(42)

In [18]:
df = pd.DataFrame(rng.rand(100000000, 3), columns=['A', 'B', 'C'])
df.head()

          A         B         C
0  0.393722  0.221403  0.809481
1  0.779259  0.325250  0.422265
2  0.408933  0.043063  0.990278
3  0.506600  0.054694  0.959200
4  0.707940  0.750056  0.438865

In [19]:
%%timeit
df['D'] = (df['A']*df['C'])**2

15.4 s ± 1.54 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit
df.eval('E = (A*C)**2', inplace=True)

In [ ]:
df.head()